/* Base containers */
html {
    font-family: "PT Sans", Helvetica, Arial, sans-serif;
}

/* Header */
.header .navbar-brand {
    font-weight: normal;
    text-rendering: optimizeLegibility;
    font-family: "Walter Turncoat";
}
.header .navbar-brand img {
    max-width: 4rem;
    display: inline-block;
    margin: 0;
}
.header .dropdown img {
    display: inline-block;
    margin: 0;
    border-radius: 2px;
    border: 1px solid lightgray;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}
.header .dropdown a:hover img {
    -webkit-filter: none; /* Safari 6.0 - 9.0 */
    filter: none;
}
.header h1 {
    font-size: 2rem;
    margin: 0;
}

/* Header nav */
.navbar-light {
    background: #fff;
}
.homepage .header-about {
    max-width: 100%;
    background-size: cover;
    text-align: center;
    min-height: 630px;
    min-height: 70vh;
    padding-top: 135px;
}
.homepage .header-about img {
    max-width: 11rem;
}
.homepage .header-about-content {
    background: rgba(0, 0, 0, 0.3);
    display: inline-block;
    padding: 10px 50px;
    border-radius: 5px;
}
.homepage .flags {
    background: rgba(0,0,0,0.3);
    padding: 5px;
    border-radius: 5px;
}

/* Custom containers */
.main-wrapper {
    background: #eee;
}
.container {
    max-width: 45rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: auto;
    margin-right: auto;
}

.content {
    padding-top:    2rem;
    padding-bottom: 4rem;
}

@media (min-width: 65em) {
    .container {
        max-width: 50rem;
    }
}

/* Countries flag part */
.header-about-wrapper {
    position: relative;
}

/* Hs */
h1, h2, h3, h4, h5, h6 {
    margin-bottom: .5rem;
    line-height: 1.25;
    font-weight: normal;
    text-rendering: optimizeLegibility;
    font-family: "Walter Turncoat";
}
h1 {
    text-align: center;
}

/* Footer */
.footer {
    display: block;
    margin: 10px 0;
    font-size: 0.8rem;
    text-align: center;
}
.footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.footer ul li {
    vertical-align: middle;
    display: inline-block;
    margin: 0 5px;
}
.footer ul li a {
    font-size: 1em;
}
.footer .content {
    padding-top: 1rem;
    padding-bottom: 2rem;
}
.footer-social,
.footer-contact {
    width: 100%;
    float: left;
}
@media (min-width: 65em) {
    .footer-social,
    .footer-contact {
        width: 50%;
        float: left;
    }
}
.gallery {
}
.gallery a {

    display: inline-block;
    margin: 0 0.5%;
}