{% extends 'base.html.twig' %}

{% block title %}{{ 'flower_styling.title'|trans }}{% endblock %}

{% block body %}
    <div class="content container">
        <h1>{{ "flower_styling.title"|trans }}</h1>
        <p>
            {{ "flower_styling.content1"|trans|raw }}
        </p>
        <p>
            {{ "flower_styling.content2"|trans }}
        </p>
        {% include '_includes/iterative_gallery.html.twig' with { 'path': 'gallery/flower_styling', 'name': 'styling', 'ext': 'jpg', 'end': 12 } %}
    </div>
{% endblock %}
