{% extends 'base.html.twig' %}

{% block title %}{{ 'provence_tour.title'|trans }}{% endblock %}

{% block body %}
    <div class="container">
        <h1>A memorable week in Provence</h1>
        <p>
            Wanna discover the beautiful places in Provence, stay in beautiful home or hotel, guide by specialists, and learn to make beautiful flower arrangement, wine tour, learn French cuisine or pick up mushrooms in forest. This tour is for you!
        </p>
        <p>Every tour is personalized according to your wishes.</p>
        {% include '_includes/iterative_gallery.html.twig' with { 'path': 'gallery/provence_tour', 'name': 'tour', 'ext': 'jpg', 'start': 1, 'end': 4 } %}

        <h2>Description</h2>
        <p>Join us for an unforgettable 5 days with flower lessons, wine tour, beautiful sceneries and delicious meals.</p>
        <p>This tour will you bring to the real France with unforgettable memories!</p>
        <p>We offer great services, transfers from the airport or station to the hotel.</p>

        <p>
            5 days in Provence.
            <br />For shorter or longer trip please contact us.
        </p>

        <p>Group of 6 people maximum.</p>
        {% include '_includes/iterative_gallery.html.twig' with { 'path': 'gallery/provence_tour', 'name': 'tour', 'ext': 'jpg', 'start': 5, 'end': 8 } %}

        <h2>Content</h2>
        {% include '_includes/iterative_gallery.html.twig' with { 'path': 'gallery/provence_tour', 'name': 'tour', 'ext': 'jpg', 'start': 9, 'end': 12 } %}

        <h3>Activities for every season</h3>

        <p>All day meals are included</p>

        <table>
            <tr>
                <td>1st day</td>
                <td>French bridal bouquet, French table decoration, botanical walk</td>
            </tr>
            <tr>
                <td>2nd day</td>
                <td>Romantic flower basket, flower garden centerpiece, visit of Orange, Chateauneuf-du-Pape and its famous vineyards</td>
            </tr>
            <tr>
                <td>3rd day</td>
                <td>Vase arrangement, ceramic arrangement, visit of Harmas de Fabre</td>
            </tr>
            <tr>
                <td>4th day</td>
                <td>Flower arche, bridal bouquet, visit of Avignon</td>
            </tr>
            <tr>
                <td>5th day</td>
                <td>Cooking lesson, visit of Isle sur la Sorgue, flea market</td>
            </tr>
        </table>

        <p>For flower lesson, I provide flowers and we pick up Beautiful flowers from the garden</p>
        {% include '_includes/iterative_gallery.html.twig' with { 'path': 'gallery/provence_tour', 'name': 'tour', 'ext': 'jpg', 'start': 13, 'end': 16 } %}


        <h3>Special activities in the year</h3>
        <p>All the year: Visit of Mont Ventoux, Gordes, Camargue, Arles, Pont du Gard.</p>

        <table>
            <tr>
                <td>Spring</td>
                <td>growing vegetables in organic kitchen garden</td>
            </tr>
            <tr>
                <td>Summer</td>
                <td>visit of Calanque de Marseille, pick fresh vegetables in the organic kitchen garden</td>
            </tr>
            <tr>
                <td>End of June, July</td>
                <td>lavander excursion</td>
            </tr>
            <tr>
                <td>April, September, October</td>
                <td>pick up mushroom in forest</td>
            </tr>
        </table>
        {% include '_includes/iterative_gallery.html.twig' with { 'path': 'gallery/provence_tour', 'name': 'tour', 'ext': 'jpg', 'start': 17, 'end': 35 } %}
    </div>

{% endblock %}