{% extends 'base.html.twig' %}

{% block title %}{{ 'provence_tour.title'|trans }}{% endblock %}

{% block body %}
    <h1>A memorable week in Provence</h1>
    <p>
        Wanna discover the beautiful places in Provence, stay in beautiful home or hotel, guide by specialists, and learn to make beautiful flower arrangement, wine tour, learn French cuisine or pick up mushrooms in forest. This tour is for you!
    </p>
    <p>Every tour is personalized according to your wishes.</p>
    {% include '_includes/iterative_gallery.html.twig' with { 'path': 'gallery/provence_tour', 'name': 'tour', 'ext': 'jpg', 'start': 1, 'end': 6 } %}

    <h2>Description</h2>
    <p>Join us for an unforgettable 7 days/6 nights with delicious meals, flowers, wine tour and beautiful sceneries.</p>
    <p>This tour will you bring to the real France with unforgettable memories!</p>
    <p>We offer great services, transfers from the airport or station to the hotel, homestay, activities, wine tour.</p>

    <p>
        6 nights and 7 days in Provence.
        <br />For shorter or longer trip please contact us.
    </p>

    <p>Group of 6 maximum.</p>
    {% include '_includes/iterative_gallery.html.twig' with { 'path': 'gallery/provence_tour', 'name': 'tour', 'ext': 'jpg', 'start': 7, 'end': 12 } %}

    <h2>Price</h2>
    <p>Price 3900€ per person including accommodation, meals, transport, activities.</p>

    <h2>Content</h2>
    {% include '_includes/iterative_gallery.html.twig' with { 'path': 'gallery/provence_tour', 'name': 'tour', 'ext': 'jpg', 'start': 13, 'end': 18 } %}

    <h3>Activities for every season</h3>

    <p>All day meals are included</p>

    <table>
        <tr>
            <td>1st day</td>
            <td>pick up from Marseille airport, or train station Avignon or Orange</td>
        </tr>
        <tr>
            <td>2nd day</td>
            <td>flower lesson, Visit of Orange (Antique Theater, Arc de Triomphe), Harmas de Fabre, botanical walk</td>
        </tr>
        <tr>
            <td>3rd day</td>
            <td>seasonal activity, flower lesson</td>
        </tr>
        <tr>
            <td>4th day</td>
            <td>wine tour to Châteauneuf du Pape, Beaumes de Venise, cooking lesson</td>
        </tr>
        <tr>
            <td>5th day</td>
            <td>visit of Avignon (Pope of the Palace, Garden of Doms, Villeneuve-lès-Avignon, flower lesson</td>
        </tr>
        <tr>
            <td>6th day</td>
            <td>visit of Isle sur la Sorgue, Fontaine du Vaucluse, flower lesson</td>
        </tr>
        <tr>
            <td>7th day</td>
            <td>transfer to Marseille airport, or station Avignon/Orange</td>
        </tr>
    </table>

    <p>For flower lesson, I provide flowers and we pick up Beautiful flowers from the garden</p>
    {% include '_includes/iterative_gallery.html.twig' with { 'path': 'gallery/provence_tour', 'name': 'tour', 'ext': 'jpg', 'start': 19, 'end': 24 } %}


    <h3>Special activities in the year</h3>
    <p>All the year: Visit of Mont Ventoux, Gordes, Camargue, Arles, Pont du Gard.</p>

    <table>
        <tr>
            <td>Spring</td>
            <td>growing vegetables in organic kitchen garden</td>
        </tr>
        <tr>
            <td>Summer</td>
            <td>visit of Calanque de Marseille, pick fresh vegetables in the organic kitchen garden</td>
        </tr>
        <tr>
            <td>End of June, July</td>
            <td>lavander excursion</td>
        </tr>
        <tr>
            <td>April, September, October</td>
            <td>pick up mushroom in forest</td>
        </tr>
    </table>
    {% include '_includes/iterative_gallery.html.twig' with { 'path': 'gallery/provence_tour', 'name': 'tour', 'ext': 'jpg', 'start': 25, 'end': 35 } %}


{% endblock %}