{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ 'weddings.title'|trans }}</h1>
    <p>{{ 'weddings.content'|trans }}</p>
    <h3>{{ 'weddings.subtitle1'|trans }}</h3>
    <h3>{{ 'weddings.subtitle2'|trans }}</h3>
{% endblock %}
