
<div class="gallery">
    {% set start = start is defined ? start : 1 %}
    {% for i in start..end %}
        <a target="_blank" href="{{ asset('images/'~path~'/'~name~i~'.'~ext) | imagine_filter('full_view') }}">
            <img src="{{ asset('images/'~path~'/'~name~i~'.'~ext) | imagine_filter('my_thumb') }}" />
        </a>
    {% endfor %}
</div>