
<div class="gallery row">
    {% set start = start is defined ? start : 1 %}
    {% for i in start..end %}
        <a target="_blank" href="{{ asset('images/'~path~'/'~name~i~'.'~ext) | imagine_filter('full_view') }}" class="{{ is_mini is defined ? 'col-4 col-sm-3 col-md-2' : 'col-6 col-sm-6 col-md-3' }}">
            <img src="{{ asset('images/'~path~'/'~name~i~'.'~ext) | imagine_filter('my_thumb2') }}" />
        </a>
    {% endfor %}
</div>